@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap');

//******Variables*******//
$navy: #0a1732;
$blue: #021227;
$gold: #DFA753;
$ss: #d7bd3f;
$white: #fff;
$fontSize: 20px;
$bodyFont: 'Lora', sans-serif;
$headerFont: 'Playfair Display', serif;
$padding: 100px 0;
$transition: .4s ease;

